In [3]:
import pandas as pd

In [4]:
stations_info = pd.read_csv('data/stations/stations.csv')
stations_data = pd.read_csv('data/stations/2023/05/2023-05-10-stations.csv')
prices_data = pd.read_csv('data/prices/2023/05/2023-05-10-prices.csv')

## station info
- cities name: lowercase cities and the same cities with uppercase
- one city with latitude and longitude zero
- for some station the house number are written in the street name

In [5]:
stations_info.head(10)

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
0,00060723-0001-4444-8888-acdc00000001,BAGeno Raiffeisen eG,NaN,Künzelsauer Strasse,7,74653,Ingelfingen,49.296822,9.661385
1,005056ba-7cb6-1ed2-bceb-5332ab168d12,famila Tankstelle,FAMILA,Pascalstrasse,9,25442,Quickborn,53.742150,9.941240
2,005056ba-7cb6-1ed2-bceb-573c18314d16,star Tankstelle,STAR,Riehler Strasse,240,50735,Köln,50.961800,6.980070
3,005056ba-7cb6-1ed2-bceb-662ba1a94d1f,star Tankstelle,STAR,BAB 10 / Seeberg Ost,NaN,15345,Altlandsberg,52.550160,13.682120
4,005056ba-7cb6-1ed2-bceb-6f7b23564d23,star Tankstelle,STAR,Duisburger Straße,130,47166,Duisburg,51.489790,6.783730
5,005056ba-7cb6-1ed2-bceb-87f71ccd4d30,star Tankstelle,STAR,Hochdahler Straße,127,40724,Hilden,51.176260,6.938810
6,005056ba-7cb6-1ed2-bceb-8cf3efd04d33,star Tankstelle,STAR,Coswigerstraße,5,39261,Zerbst,51.961130,12.099880
7,005056ba-7cb6-1ed2-bceb-9c6b14bcad3c,star Tankstelle,STAR,Monschauer Straße,69,52355,Dueren,50.793440,6.470570
8,005056ba-7cb6-1ed2-bceb-a256fd5a8d3e,star Tankstelle,STAR,Klausdorfer Straße,121,24161,Altenholz,54.405970,10.123240
9,005056ba-7cb6-1ed2-bceb-a86eb5988d41,star Tankstelle,STAR,Gasanstalt,4,06311,Helbra,51.555390,11.487840

In [70]:
stations_info.info()
stations_info['brand'].value_counts().sort_values(ascending= False)
#stations_info['city'].value_counts().sort_values(ascending= False)  
#stations_info[stations_info['latitude'] == 0].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15442 entries, 0 to 15441
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uuid          15442 non-null  object
 1   name          15442 non-null  object
 2   brand         14898 non-null  object
 3   street        15440 non-null  object
 4   house_number  11764 non-null  object
 5   post_code     15440 non-null  object
 6   city          15439 non-null  object
 7   latitude      15442 non-null  float64
 8   longitude     15442 non-null  float64
dtypes: float64(2), object(7)
memory usage: 1.1+ MB

brand
ARAL                                       2378
Shell                                      1791
ESSO                                       1066
TOTAL                                       893
AVIA                                        753
                                           ...
Raiffeisenbank Oberstadion                    1
Tankstelle Senftl                             1
BFT Eilsleben                                 1
Schillhorn Mineralöle GmbH Süderhastedt       1
gelöscht                                      1
Name: count, Length: 899, dtype: int64

In [16]:
stations_info['street'].value_counts()
stations_info['street'].unique()
stations_info[stations_info['post_code'].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
6381,6d4bfcc4-44ba-4884-a8b5-72e36dfb7582,bft Tankstelle,BFT Tankstelle,Weilburger Str.,17,NaN,Breitscheid-Rabenscheid,50.681303,8.148122
13834,4e8ecfc5-5d0d-4463-901b-6b9ff8fee510,01_test,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000

In [22]:
stations_info[stations_info['uuid'] == '4e8ecfc5-5d0d-4463-901b-6b9ff8fee510' ] 
stations_info['house_number'].isnull().sum()
stations_info['street'][stations_info['house_number'].isnull()]

3             BAB 10 / Seeberg Ost
15        KAISER-FRIEDRICH-STR. 95
20               Autozubringer Süd
26          Industriestr./Heideweg
28                    STEINSTR. 12
                   ...
15413    JUSTUS-VON-LIEBIG-STR. 25
15429        LEIPZIGER CHAUSSEE 26
15430           MAHLSDORFER STR 18
15435             EINTRACHTSTR. 54
15438           Thomas-Edison-Str.
Name: street, Length: 3678, dtype: object

In [24]:
#!pip install folium
import folium

# Create a map centered on the city
city = "Breitscheid-Rabenscheid"
location = (50.681303,	8.148122) # Latitude and longitude of Munich
map = folium.Map(location=location, zoom_start=12)

# Add a marker for each gas station in the city
for i, row in stations_data[stations_data["city"] == city].iterrows():
    folium.Marker([row["latitude"], row["longitude"]], popup=row["name"]).add_to(map)

# Display the map
map

In [25]:
stations_data.head()

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
0,0e18d0d3-ed38-4e7f-a18e-507a78ad901d,OIL! Tankstelle München,OIL!,Eversbuschstraße 33,NaN,80999,München,48.180700,11.460900,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":192,""perio..."
1,44e2bdb7-13e3-4156-8576-8326cdd20459,bft Tankstelle,NaN,Schellengasse,53,36304,Alsfeld,50.752009,9.279039,1970-01-01 01:00:00+01,{}
2,ad812258-94e7-473d-aa80-d392f7532218,bft Bonn-Bad Godesberg,bft,Godesberger Allee,55,53175,Bonn,50.695100,7.142760,1970-01-01 01:00:00+01,"{""openingTimes"":[{""applicable_days"":31,""period..."
3,e3847b06-6c52-4de2-a8ce-84d97ec13a4e,Shell Oberhausen Weseler Str. 51,Shell,Weseler Str.,51,46149,Oberhausen,51.525355,6.841736,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":63,""period..."
4,e3972506-6546-4ba8-a597-e99187ae9c97,Aral Tankstelle,ARAL,Rheinstraße,18,55435,Gau-Algesheim,49.964874,8.017713,2014-03-18 16:45:31+01,"{""openingTimes"":[{""applicable_days"":31,""period..."

In [26]:
stations_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16885 entries, 0 to 16884
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   uuid               16885 non-null  object
 1   name               16884 non-null  object
 2   brand              16180 non-null  object
 3   street             16883 non-null  object
 4   house_number       15880 non-null  object
 5   post_code          16884 non-null  object
 6   city               16881 non-null  object
 7   latitude           16885 non-null  float64
 8   longitude          16885 non-null  float64
 9   first_active       16885 non-null  object
 10  openingtimes_json  16885 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.4+ MB

In [28]:
stations_data[stations_data['name'].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
16391,00062652-734d-4444-8888-acdc00000001,NaN,Günstige Tankstelle Schaal,Abstatterstr.,57,74199,Untergruppenbach,0.0,0.0,2021-09-30 22:01:16+02,{}

In [29]:
stations_data[stations_data['street'].isnull()]

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude,first_active,openingtimes_json
14194,4e8ecfc5-5d0d-4463-901b-6b9ff8fee510,01_test,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2015-05-27 00:00:01+02,{}
14684,5947e7a2-eb5b-4fc7-412b-22628e6405b8,Dörge Brennstoffe &,Dörge Brennstoffe & Dienstleistungen,NaN,NaN,39397,Schwanebeck,51.960184,11.121097,2016-09-17 00:00:01+02,"{""openingTimes"":[{""applicable_days"":31,""period..."

In [42]:
df_uuid = stations_data['uuid'].value_counts() 
df_uuid = df_uuid[df_uuid > 2]
df_uuid

Series([], Name: count, dtype: int64)

In [48]:
stations_data['openingtimes_json'][0]

'{"openingTimes":[{"applicable_days":192,"periods":[{"startp":"07:00","endp":"20:00"}]},{"applicable_days":63,"periods":[{"startp":"06:00","endp":"22:00"}]}]}'

In [49]:
# Use the bin() function to convert the decimal number to binary
binary_str = bin(63)

# The bin() function returns a string that starts with '0b' to indicate it is a binary representation
# To remove the '0b' prefix, we can slice the string starting from index 2
binary_str = binary_str[2:]
binary_str

'111111'

In [54]:
(stations_data['openingtimes_json'] == '{}').value_counts()

openingtimes_json
False    8936
True     7949
Name: count, dtype: int64

In [55]:
prices_data.head()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
0,2023-05-10 00:00:18+02,4a6773b3-2c38-453c-812b-665be4ff6c3b,1.559,1.909,0.000,0,1,0
1,2023-05-10 00:00:18+02,99820b70-3b17-4fe7-80ef-5de2fe19619f,1.889,2.039,0.000,1,1,0
2,2023-05-10 00:00:18+02,0f6e7744-39a9-4dfb-9909-81b44b85a69d,1.519,1.789,1.729,1,1,1
3,2023-05-10 00:00:18+02,ae2fea56-8527-4af7-8617-8aa3b5056ffa,1.529,1.789,1.729,0,1,1
4,2023-05-10 00:00:18+02,8b2f8add-d210-46be-ae06-143ddd4cfa08,1.629,1.869,1.809,1,1,1

In [56]:
prices_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254320 entries, 0 to 254319
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          254320 non-null  object
 1   station_uuid  254320 non-null  object
 2   diesel        254320 non-null  float64
 3   e5            254320 non-null  float64
 4   e10           254320 non-null  float64
 5   dieselchange  254320 non-null  int64
 6   e5change      254320 non-null  int64
 7   e10change     254320 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 15.5+ MB

In [57]:
prices_data.describe()

,diesel,e5,e10,dieselchange,e5change,e10change
count,254320.000000,254320.000000,254320.000000,254320.000000,254320.000000,254320.000000
mean,1.593189,1.807640,1.693821,0.924760,0.918756,0.885558
std,0.064481,0.244229,0.386944,0.651817,0.651992,0.658458
min,-0.001000,-0.001000,-0.001000,0.000000,0.000000,0.000000
25%,1.549000,1.799000,1.739000,1.000000,1.000000,1.000000
50%,1.589000,1.839000,1.779000,1.000000,1.000000,1.000000
75%,1.629000,1.869000,1.809000,1.000000,1.000000,1.000000
max,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000

In [61]:
prices_data['station_uuid'].value_counts().count()

15062